.card{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
}
.pet-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color:  #f7f7f7;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.pet-article img{
    width: 80%;
    margin: 20px;
    border-radius: 10px;
}

.pet-info{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 8%;
    left:75%;
}

span{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1px;
    border-radius: 10px;
    padding: 0.5vw;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}

.pet-article p{
    font-size: 3vw;
    font-weight: bold;
}

/****************************************/
.new-card {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border: rgb(103, 224, 168) solid 2px;
    height: 16rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: inline-block;
    overflow: hidden; /* Esto es útil para evitar que la imagen desborde en el zoom */
    border-radius: 5%;
}

.new-card img {
    height: 230px;
    display: block;
    width: 100%;
    opacity: 90%;
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.new-card .span-name{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(34, 243, 83, 0.5); /* Fondo semi-transparente opcional */
    padding: 5px;
    font-size: 14px;
    color: white;
}

.new-card:hover img {
    transform: scale(1.2);
    opacity: 100%;
}

.new-card .text-container {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior de la imagen */
    right: 5px; /* Ajusta la distancia desde la izquierda de la imagen */
    display: flex;
    flex-direction: column; /* Alinea los spans en columna */
    color: rgb(255, 255, 255);
    text-align: center;
  }

.new-card .text-container span {
    margin-bottom: 5px; /* Espacio entre los spans */
    background-color: rgba(34, 243, 83, 0.5); /* Fondo semi-transparente opcional */
    padding: 5px;
    font-size: 14px;
    color: rgb(32, 30, 30);
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 375px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.body-cards {
    display: flex;
}

