footer{
    width: 100%;
    min-height: 15vh;
    display: flex;
    background-color: #ff928b;
    padding-top: 20px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
section{
    display: flex;
    justify-content: center;
}

section img{
    width: 10%;
}